@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to right,#C9DCE4,#B2C9D6);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #4d667096;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #518EA8;
    text-align: center;
    text-shadow: 1px 1px 2px #355d6da9;
}

h2{
    color:#4D6670;
}

p{
    text-align: justify;
}